
<div id="list_content"  class="eight columns">

		<h1 class="page_title"><%= @data['name'] %></h1>

		<p>Last Edited by: <%= @author['username'] %> on <%= @data['edited'] %> </p>
		<% if session['author_id'] %>
			
			<p><a href='/<%= @title %>/<%= @data['id'] %>/edit'>Edit</a><p>
		<% end %>

		<a href="/<%= @title %>/<%= @data['id'] %>"><img src="<%= @data['img_url'] %>"/></a>

		<p><%= @data['genre_one'] %></p>
		<p><%= @description %></p>
		<p><%= @data['location'] %></p>
		<a href="<%= @data['website_url'] %>"><input class="button-primary" type="submit" value="Website"></a>
		<br>

	<a href="/<%= @title %>"><input class="button" type="submit" value="Back to <%= @title.capitalize %>"/></a>

</div>