
<div id="list_content"  class="eight columns">
	
	<% @data.each do |x| %>
		<% id = "#{x['id']}" %>
		<% name = "#{x['name']}" %>
		<% image = "#{x['img_url']}" %>
		<% description = "#{x['description']}" %>
		<% location = "#{x['location']}" %>
		<% website = "#{x['website_url']}" %>
		<% genre = "#{x['genre_one']}" %>

		<h1 class="page_title"><%= name %></h1>

		<% if session['author_id'] %>
			<p><a href='/<%= @title %>/<%= id %>/edit'>Edit</a><p>
		<% end %>

		<a href="/<%= @title %>/<%= id %>"><img src="<%= image %>"/></a>

		<p><%= genre %></p>
		<p><%= description %></p>
		<p><%= location %></p>
		<a href="<%= website %>"><input class="button-primary" type="submit" value="Website"></a>
		<br>

	<a href="/<%= @title %>"><input class="button" type="submit" value="Back to <%= @title.capitalize %>"/></a>
	<% end %>

</div>