
<div id="list_content"  class="eight columns">

		<h1 class="page_title"><%= @data['name'] %></h1>
		<a href="/articles"><input class="button-primary" type="submit" value="<%= @data['category'] %>"></a>
	
		<% if @data['second_category'] != nil && @data['second_category'].length > 0 %>
			<a href="/articles"><input class="button-primary" type="submit" value="<%= @data['second_category'] %>"></a>
		<% end %>

		<% time = DateTime.parse(@data['edited']) %>
		<p>Last Edited by: <a href="/authors"><%= @edited_by['username'] %></a> on <%=time.strftime("%B %d, %Y at %I:%M %p") %> <a href='/article/<%= @data['id'] %>/edit'>Edit</a></p>

		<a href="/article/<%= @data['id'] %>"><img src="<%= @data['img_url'] %>"/></a>

		<% if @data['genres'] %>
			<% genres = @data['genres'].gsub("{", "").gsub("}", "").gsub("\"", "").split(",") %>
			<% genres.each do |genre| %>
				<% if genre.length > 0 %>
					<p>Genre: <%= genre.upcase %></p>
				<% end %>
			<% end %>
		<% end %>

		<% if @data['label_id'] %>
			<label>Label: </label>
			<a href="/article/<%=@data['label_id'] %>"><%=@data['label_id'] %></a>
		<% end %>

		<% if @data['category'] == 'albums'%>
			<label>Band: </label>
			<a href="/article/<%= @band['id'] %>"><%= @band['name'] %></p>
		<% end %>

		<% if @data['category'] == 'labels' || @data['category'] == 'studios'%>
			<% if @data['bands'] != nil  && @data['bands'].length > 0 %>
				<% bands= @data['bands'].gsub("{", "").gsub("}", "").gsub("\"", "").split("") %>
				<label>Bands: </label>
				<% bands.each do |band| %>
						<a href="/article/<%= band %>"> <%= band %></a>
				<% end %>
			<% end %>
		<% end %>

	
		<% location = @data['location'] %>
		<% if location != nil %>
			<% if location.length > 0 %>
				<p>Location: <%= @data['location'] %></p>
			<% end %>
		<% end %>

		
		<% video = @data['video_url'] %>
		<% if video != nil %>
		<% if video %>
				<% if video.length > 0 %>
					<iframe width="560" height="315" src="<%= @data['video_url'] %>" frameborder="0" allowfullscreen></iframe>
				<% end %>
			<% end %>
		<% end %>

		<p><%= @description %></p>

		<a href="<%= @data['website_url'] %>"><input class="button-primary" type="submit" value="Website"></a>
		<br>

	<a href="/articles"><input class="button" type="submit" value="Back to articles"/></a>

</div>