
<div id="list_content"  class="eight columns">
<% if session['author_id'] %>
	<h1 class="page_title">Authors</h1>
	<% @authors.each do |author| %>
		<div>
			<p>Username: <%= author['username'] %></p>
			<p>Contact: <a href="mailto:<%= author['email'] %>"><%= author['email'] %></a></p>
			<p>Authorship Score: <%= author['edit_count'] %> </p>
			<p>Latest Contributions: </p>

			<% @articles.each do |article| %>
				<% if article['author_id'] == author['id'] %>
					<a href="article/<%= article['id'] %>">
						<p><%= article['name'] %></p>
					</a>
				<% end %> <!-- end if statement -->
			<% end %> <!-- end @articles loop -->

		</div>
		<br>
	<% end %> <!-- end @authors loop -->
<% else %>
	<h3> You must be <a href="/login">Logged In</a> to view this page </h3>
<% end %>
</div> <!-- end content div -->

