
<div id="list_content"  class="eight columns">
	<h1 class="page_title">Stuff</h1>
	
	<% @categories.each do |category| %>
		<div>
			<input class="button-primary <%=category%>_select" type="submit" 
			value="<%= category.capitalize %>">
		</div>
	<% end %>
			
	<% @articles.each do |article| %>
		<div>
			<a href="/article/<%= article['id'] %>" class ="<%= article['category'] %>_entry">
				<p> <%= article['name'] %></p>
			</a>
		</div>
	<% end %>
</div>