<div id="list_content"  class="eight columns">
	<h1 class="page_title">Stuff</h1>
	
	<% @categories.each do |category| %>
		<div style="display: inline">
			<input class="button-primary category_selector <%= category %>_select" type="submit" 
			value="<%= category.capitalize %>">
		</div>
	<% end %>
			
	<% @articles.each do |article| %>
		<form  class ="<%= article['category'] %>_entry <%= article['second_category'] %>_entry">
			<div>
				<a href="/article/<%= article['id'] %>" >
					<h4> <%= article['name'] %></h4>
				</a>
			</div>
		</form>
	<% end %>
</div>