<div id="form" class="eight columns">
	<h4>Create an Entry</h4>
	<% if @entry_submitted %>
		<p> Thank you!</p>
	<% else %>
	<form class="create_entry" action="/create_entry" method="post">

		<p>In order to create submit an entry please choose one of the following categories</p>
		<select type='text' value='category' name="category">
		    <% @categories.each do |category| %>
				<option ><%= category.capitalize %></option>
			<% end %>
		</select>
	</form>

	<form class="create_entry" action="/create_entry" method="post">
		<%= erb :albums %>
		<%= erb :bands %>
		<%= erb :festivals %>
		<%= erb :labels %>
		<%= erb :record_stores %>
		<%= erb :songs %>
		<%= erb :studios %>
		<%= erb :venues %>


	</form>
		

			
		
	</form>
	<% end %>
</div>	
