
<div id="list_content"  class="eight columns">
	<h1 class="page_title"><%= @title.capitalize %></h1>
	<% @data.each do |x| %>
		<% id = "#{x['id']}" %>
		<% name = "#{x['name']}" %>
		<% image = "#{x['img_url']}" %>


		
		<a href="/<%= @title %>/<%= id %>">
			<input class="button-primary" type="submit" value="<%= name %>"></a>
		<br>
		<a href="/<%= @title %>/<%= id %>">
			<img src="<%= image %>"/>
		</a>
		<br>




	<% end %>
	<a href="/categories"><input class="button" type="submit" value="All Categories"></a>
</div>